@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Krystal Hotel & Resort <small> Más céntrico imposible</small></h1>
    <p class="lead" align="justify" >Nos encontramos en pleno casco Urbano de Torremolinos. Bienvenido al Hotel Kristal. Le abrimos nuestras puertas para acogerle y ofrecerle una atención esmerada en nuestro Hotel. Dispone de 129 habitaciones equipadas con teléfono, bańo completo, aire acondicionado, T.V. y cajas de seguridad en opción.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

      <!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4">
        <center>
            <img  class="img-circle" src="https://www.immogmid.com/media/inmuebles/thumb/e99bb-IMG_6527.JPG" alt="Generic placeholder image" width="140" height="140">
        <h2>HABITACIONES</h2>
        </center>
        <p align="justify">El Hotel Kristal está compuesto por un edificio principal con 4 plantas y bajo cubierta, el Hotel mas equipado hasta el momento.<BR><BR>Cuenta con: <BR>Recepción, Salón Social, Sala de Lectura / TV, Café Bar, Comedor, Ascensor, Solarium, Parking concertado en las intermediaciones, WIFI.</p>
        <p><a class="btn btn-default" href="https://getbootstrap.com/docs/3.3/examples/carousel/#" role="button">VER MAS DETALLES »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <center>
            <img class="img-circle" src="http://www.hotelmedrano.com.mx/salones/salon-viena.png" alt="Generic placeholder image" width="140" height="140">
            <h2>SERVICIOS</h2>
        </center>
        <p align="justify">El Hotel Kristal cuenta con un equipo de profesionales dispuesto en todo momento a ofrecerte un esmerado servicio y una atención personalizada. <BR><BR>En nuestro Hotel podrás disfrutar de los servicios:<BR>Gran Salón Social, Salita de T.V. / Video, Solarium, Habitaciones con baño completo, T.V. y satélite y Muchas mas</p>
        <p><a class="btn btn-default" href="https://getbootstrap.com/docs/3.3/examples/carousel/#" role="button">VER MAS DETALLES »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <center>
            <img class="img-circle" src="http://es.zooverresources.com/images/PH283509L1W140H140RT2/Hooks-Hut.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>QUE VER Y QUE HACER?</h2>
        </center>
        <p align="justify">El hotel Kristal se encuentra en el centro de Torremolinos, localidad turística junto puerto deportivo de Benalmádena, situada en el corazón de la Andalucía y rodeada de un sinfín de playas de agua cristalinas y finísimas arenas blancas. En las playas se encuentran areas de juegos de futbol, voleibol y restaurantes al aire libre.</p>
        <p><a class="btn btn-default" href="https://getbootstrap.com/docs/3.3/examples/carousel/#" role="button">VER MAS DETALLES »</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->